<nav class="navbar navbar-default" role="navigation" data-ng-controller="HeaderController">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

        <a class="navbar-brand" href="#">Brand</a>
    </div>

    <ul class="nav navbar-nav">
        <li data-ng-repeat="item in menu" data-ng-show="global.user" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
            <a href="#!/{{item.link}}">{{item.title}}</a>
        </li>
    </ul>


    <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
    <!--<div class="collapse navbar-collapse navbar-ex1-collapse">-->
        <!--<ul class="nav navbar-nav">-->
            <!--<li class="active"><a href="#">Link</a></li>-->
            <!--<li><a href="#">Link</a></li>-->
            <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>-->
                <!--<ul class="dropdown-menu">-->
                    <!--<li><a href="#">Action</a></li>-->
                    <!--<li><a href="#">Another action</a></li>-->
                    <!--<li><a href="#">Something else here</a></li>-->
                    <!--<li><a href="#">Separated link</a></li>-->
                    <!--<li><a href="#">One more separated link</a></li>-->
                <!--</ul>-->
            <!--</li>-->
        <!--</ul>-->
        <!--<form class="navbar-form navbar-left" role="search">-->
            <!--<div class="form-group">-->
                <!--<input type="text" class="form-control" placeholder="Search">-->
            <!--</div>-->
            <!--<button type="submit" class="btn btn-default">Submit</button>-->
        <!--</form>-->
        <!--<ul class="nav navbar-nav navbar-right">-->
            <!--<li><a href="#">Link</a></li>-->
            <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>-->
                <!--<ul class="dropdown-menu">-->
                    <!--<li><a href="#">Action</a></li>-->
                    <!--<li><a href="#">Another action</a></li>-->
                    <!--<li><a href="#">Something else here</a></li>-->
                    <!--<li><a href="#">Separated link</a></li>-->
                <!--</ul>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
</nav>



<!--<div class="navbar-inner" data-ng-controller="HeaderController">-->
    <!--<ul class="nav">-->
        <!--<li>-->
            <!--<a class="brand" href="/">MEAN - A Modern Stack</a>-->
        <!--</li>-->
        <!--<li data-ng-repeat="item in menu" data-ng-show="global.user" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">-->
            <!--<a href="#!/{{item.link}}">{{item.title}}</a>-->
        <!--</li>-->
    <!--</ul>-->
    <!--<ul class="nav pull-right" data-ng-hide="global.authenticated">-->
        <!--<li><a href="signup">Signup</a>-->
        <!--</li>-->
        <!--<li class="divider-vertical"></li>-->
        <!--<li><a href="signin">Signin</a>-->
        <!--</li>-->
    <!--</ul>-->
    <!--<ul class="nav pull-right" data-ng-show="global.authenticated">-->
        <!--<li class="dropdown">-->
            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                <!--{{global.user.name}} <b class="caret"></b>-->
            <!--</a>-->
            <!--<ul class="dropdown-menu">-->
                <!--<li><a href="/signout">Signout</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->